{% extends 'artista/index.html' %}

{% block content_artista %}
    {% if object_list %}
    <div class="py-lg-4">
        <form action= "{% url 'artista:artista_list' %}" method="get">
            <input name="consulta" type="text"  placeholder="Buscar ...">
        </form>
    </div>

    {% for artista in object_list %}
        <ul>
            <li>{{ artista.apellido }} {{ artista.nombre}}
                <a href="{% url 'artista:artista_detail' artista.id %}" class="btn btn-secondary">Ver Detalle</a>
                <a href="{% url 'artista:artista_update' artista.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'artista:artista_delete' artista.id %}" class="btn btn-danger">Eliminar</a>
            </li>
        </ul>
    {% endfor %}
    {% else %}
        <p class="fs-4 fst-italic">No hay registro ingresados</p>
    {% endif %}

    {% include 'artista/index_back.html' %}
{% endblock content_artista %}
