{% extends 'home/base.html' %}

{% block content %}
  <p style="text-align: center;">
    <img src="\static\home\img\Veronica.jpeg" alt="Imagen">
  </p>
  <div class="image-container">
    <p class="text-center display-1 mb-1 mt-1">Mi nombre es Claudia Verónica Montaña Mansur, soy Ingeniera en Sistemas de Información, 
      en el 2001 empezamos Distribuidora SAICA, un empredimiento junto a mi hermano Fredy, 
      hemos ido incorporando productos de las empresas de UNILEVER, MOLINO RIO DE LA PLATA,
       CEPAS ARGENTINAS, etc.
      En la Empresa he ido implementado los sistemas de Gestión Integral, 
      sistema de toma de Pedidos, 
      sistema de gestión de Almacenes 
      y el sistema de Logística 
      para poder entregar a nuestros clientes los pedidos en tiempo y forma.
      Quiero actualizarme en mi carrera por eso hice este curso de PYTHON</p>
  </div>
  

{% endblock %}
