{% extends 'home/base.html' %}

{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src='static\home\img\1366_2000.jpeg' alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Los datos de Spotify</h1>
            <p>Esta es una aplicacion para carga de datos en Spotify como trabajo final de PYTHON en CODERHOUSE</p>
            <a class="btn btn-primary" href="#!">COMENZEMOS!!!</a>
        </div>
    </div>
            <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Ingresa los datos de Spotify (cuentas, Artistas e Albumes)</p></div>
    </div>
            <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Cuenta</h2>
                    <p class="card-text">En este sector ingresa los datos de la cuenta de Spotify</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Carga Nuevos Datos</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Artista</h2>
                    <p class="card-text">En este sector ingresa los datos de los artista para escucharlo en Spotify</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Carga Nuevos Datos</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Albúm</h2>
                    <p class="card-text">En este sector ingresa los datos de los albumes que van ingresando para escucharlos en Spotify</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Carga Nuevos Datos</a></div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}