
{% extends 'album/index.html' %}

{% block content_album %}
    <h2> Lista de Álbumes </h2>
    
    {% for album in albumes %}
    <ul>
        <li>{{ album }}
            <a href="{% url 'album:album_update' album.id %}" class="btn btn-primary">Actualizar</a>
            <a href="{% url 'album:album_delete' album.id %}" class="btn btn-danger">Eliminar</a>
        </li>
    </ul>
    {% endfor %}
    
    <a href="{% url 'album:index' %}">Volver a índice de Álbumes</a>    

{% endblock content_album %}


