{% extends 'home/base.html' %}

{% block content %}
    <h1 class="shadow-lg text-center">Aplicación Álbum</h1>
    <div class="container mt-lg-3">

        <h3 class="pb-lg-3">
            {% block title %}
                ÁLBUMES
            {% endblock title %}
        </h3>
        
        {% block content_album %}
                <a href="{% url 'album:album_create' %}" class="btn btn-primary"> Crear </a>
                <a href="{% url 'album:album_list' %}"class="btn btn-primary"> Listar </a><br>
        {% endblock content_album %}
    </div>
    <a href="{% url 'home:index' %}" class="btn btn-info">Volver al MENÚ PRINCIPAL</a><br>
{% endblock content %}
