{% extends 'cuenta/index.html' %}

{% block content_cuenta %}
    {% if object_list %}
    <div class="py-lg-4">
        <form action= "{% url 'cuenta:cuenta_list' %}" method="get">
            <input name="consulta" type="text"  placeholder="Buscar ...">
        </form>
    </div>

    {% for cuenta in object_list %}
        <ul>
            <li>{{ cuenta.nombre}} {{cuenta.apellido}} DNI: {{cuenta.dni}}
                <a href="{% url 'cuenta:cuenta_detail' cuenta.id %}" class="btn btn-secondary">Ver Detalle</a>
                <a href="{% url 'cuenta:cuenta_update' cuenta.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'cuenta:cuenta_delete' cuenta.id %}" class="btn btn-danger">Eliminar</a>
            </li>
        </ul>
    {% endfor %}
    {% else %}
        <p class="fs-4 fst-italic">No hay registro ingresados</p>
    {% endif %}

    {% include 'cuenta/index_back.html' %}
{% endblock content_cuenta %}
